body{
    overflow-x:hidden;
    background-color: #2E8A97;
}

h1, h4 {
    color:  white;
    font-weight: normal;
}

h2 {
    color: #2E8A97;
    font-weight: bolder;
}

h6{
    color: white;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h5 {
    color:  #2E8A97;
    text-transform: uppercase;

}

#donate{
    background-color:  #2E8A97;
    padding-top: 2em;
    padding-bottom: 2em;
}

#subscribe{
    background-color:  #FFD34E;
    padding:  2em;
}

#contact{
    background-color:  rgb(196,196,196);
    padding: 2em;
}

#home{
    padding: 2em;

}

.donate-amount{
    background-color: white;
    color: #2E8A97;
    /*margin: 0em 1em 0em 1em;*/
    width: 290px;
    border-top: 1px solid black;

}


.donate-amount-div{
    padding: 1.5em 1em 1.5em 1em;
}


.donate-amount > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.donate-amount > input + div{ /* DIV STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
.donate-amount > input:checked + div { /* (RADIO CHECKED) DIV STYLES */
    background-color: #2E8A97;
    border: 2px solid #FFD34E;
    color: white;
}

.donate-figure{
    font-size: xx-large;
    font-weight: bold;
}


#custom-donation-amount{
    color:  white;
}

#custom-donation-amount:hover{
    color: #2E8E97;
}

.central-button{
    border: none;
    padding: 0.5em 1.3em;
    border-radius: 1em;
    color: white;
    text-decoration: none!important;
}

a.central-button{
    background-color: #FFD34E;
}

a.central-button:hover{
    background-color: #2E8A97;
    color: white;
}



.email-input{
    padding: 7px 20px;
    margin: 8px 0;
    border:  none;
    border-radius: 1em;
}

input[type=text]::placeholder{
    color:  #2E8A97;
}

#nostylelink{
    color: inherit;
    text-decoration: none;
}

#nostylelink:hover{
    color: #FFD34E;
}

#landing-picture{
    max-width: 500px;
  object-fit: scale-down;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.bottomleft {
  text-align: center;
  position: relative;
  bottom: 3em;
  font-size: 5em;
  color: white;
  font-weight: bold;
}
