<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="blog.css"/>
    <title>blog component</title>
</head>
<body>
    
    	<div class="container-blog">
            <div class="title-blog">
                <h3>Learning</h3>
            </div>
            <div class="text-blog">
                <div class="firsttext-blog">Why we Dew what we Dew</div>
                <div class="subtext-blog">September 7th, 2022</div>
                <div class="subtext-blog">7:30pm</div>
                <div class="subtext-blog">some street in nowhere</div>
            </div>
        </div>

</body>
</html>