{% extends 'home/base.html' %}
{% block aboutTab %}current-page{% endblock %}

{% block title %}About{% endblock %}
{% block body %}
<br><br>
<div class="container ">
  <p class="about-content">
TAL is an organization for frum high school girls in our local community. Through learning, chessed activities, and good old chilling, TAL creates an environment and opportunities for girls to connect with members of our community, build relationships and make a meaningful impact on others.
<br><br>
Chessed is an incredibly important part of Judaism and building communities. It creates connections and helps foster a natural desire to do for others. TAL provides the avenue for the girls to be on the giving end and shows them what kind of impact it can have on others.
<br><br>
TAL has a unique way of investing in each teen and helping them gain a perspective on what Judasim means to them. Showing them that each person has a role and purpose and is important.
</p>
</div>
  </div>
<br>
{% endblock %}
